.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  width: 150px;
}

.titleOne {
  background-color: bisque;
  font-size: 40px;
  /* display: flex;
  justify-content: flex-start; */
  border: 2px solid coral;
  border-radius: 20px;
  padding: 10px;
}

.titleTwo {
  background-color: bisque;
  font-size: 40px;
  /* display: flex;
  justify-content: flex-start; */
  border: 2px solid coral;
  border-radius: 20px;
  padding: 10px;
}
